.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 .5rem;
  width: 8rem;
  border: 1px solid #AA6817;
  cursor: pointer;
  outline: none;
}