.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background-color: #703B09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 90;
}

.Tollbar nav {
  height: 100%;
}