.Toggle {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.Toggle__button {
  position: relative;
  width: 4rem;
  height: .5rem;
  background-color: white;
}

.Toggle__button::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  width: 4rem;
  height: .5rem;
  background-color: white;
  transition: all .2s;
}

.Toggle__button::after {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  width: 4rem;
  height: .5rem;
  background-color: white;
  transition: all .2s;
}

.Toggle:hover .Toggle__button::before { top: -1.2rem; }
.Toggle:hover .Toggle__button::after { top: 1.2rem; }