.DrawerToggle {
  position: relative;
  width: 4rem;
  height: .5rem;
  background-color: white;
}

.DrawerToggle::before {
  content: '';
  position: absolute;
  top: -1rem;
  left: 0;
  width: 4rem;
  height: .5rem;
  background-color: white;
}
.DrawerToggle::after {
  content: '';
  position: absolute;
  top: 1rem;
  left: 0;
  width: 4rem;
  height: .5rem;
  background-color: white;
}