.NavigationItem {
  display: block;
  margin: 1rem 0;
  padding: .5rem;
  width: 100%;
}

.NavigationItem a:link,
.NavigationItem a:visited {
  display: block;
  text-decoration: none;
  color: #8F5C2C;
  text-transform: uppercase;
  width: 100%;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40A4C8;
}

@media (min-width: 500px) {
  .NavigationItem {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
  }

  .NavigationItem a:link,
  .NavigationItem a:visited {
    color: white;
    height: 100%;
    width: auto;
    padding: 1.5rem 1rem;
    border-bottom: .5rem solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #8F5C2C;
    border-bottom:  .4rem solid #40A4C8;
    color: white;
  }
}