.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:active:hover { transform: translateY(-2px); }
.Button:active { transform: translateY(2px); }
.Button:disabled {
  color: hsla(84, 90%, 30%, .5);
  cursor: not-allowed;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success { color: hsl(84, 90%, 30%); }
.Success:active { color: hsl(84, 90%, 40%); }


.Danger { color: #944317; }
.Danger:active { color: hsl(20, 73%, 40%); }