.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:active { transform: translateY(2px); }

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success { color: #5C9210; }
.Success:active { color: hsl(84, 79%, 40%); }


.Danger { color: #944317; }
.Danger:active { color: hsl(20, 73%, 40%); }