.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  color: black;
  font-weight: bold;
}

.InputElement::placeholder {
  color: black;
  font-weight: bold;
}

.NotValid {
  border: 2px solid red;
  background-color: hsla(10, 67%, 50%, 0.77);
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}