.List {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (min-width: 500px) {
  .List {
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: auto;
  }
}